<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Proposal Maker</title>
  </head>

  <body>
    <!-- HEADER -->
    <header>
      <div class="logo">
        <img src="img/logo.svg" alt="" />
      </div>
      <div class="menu">
        <a href="javascript:void(0);" onclick="showMenu()"><i class="fa fa-bars" aria-hidden="true"></i></a>
      </div>
    </header>

    <!-- CONTENT -->
    <main>
      <div id="sidebar" class="menu_lateral">
        <a href="/" class="btnMenu"
          ><i class="fa fa-home" aria-hidden="true"></i
        ></a>
        <a href="formulario" class="btnMenu" style="border-right: 3px solid #2088ea"
          ><i class="fa fa-briefcase" aria-hidden="true"></i
        ></a>
        <a href="precos" class="btnMenu"
          ><i class="fa fa-money" aria-hidden="true"></i
        ></a>
        <a href="sobre" class="btnMenu"
          ><i class="fa fa-info-circle" aria-hidden="true"></i
        ></a>
      </div>
      <div class="content">
        <form action="/formulario" method="POST">
          <section>
            <!-- DADOS DO CLIENTE -->
            <div class="slice">
              <div class="title"><h1>Dados do Cliente</h1></div>

              <div class="form-group">
                <label for="company">Empresa:</label>
                <input type="text" name="company" placeholder="Insira a razão social" />
              </div>
              <div class="form-group">
                <label for="name">Contato:</label>
                <input type="text" name="name" placeholder="Insira o nome completo" />
              </div>
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" name="email" placeholder="Insira o email" />
              </div>
            </div>
          </section>

          <section>
            <!-- DADOS DO ENDEREÇO -->
            <div class="slice">
              <div class="title"><h1>Endereço</h1></div>

              <div class="form-group">
                <label for="address">Endereço:</label>
                <input type="text" name="address" placeholder="Insira o endereço de instalação" />
              </div>
              <div class="form-group">
                <label for="city">Cidade:</label>
                <input type="text" name="city" placeholder="Insira a cidade de instalação"/>
              </div>
              <div class="form-group">
                <label for="state">Estado:</label>
                <select name="state">
                  <option value="" selected>Selecione...</option>
                  <% state.map(item => {%>
                    <option value="<%= item.value %>"><%= item.label %></option>
                    <% }) %>
                </select>
              </div>            
          </section>

          <section>
            <!-- DADOS DA COTACAO -->
            <div class="slice">
              <div class="title"><h1>Cotação</h1></div>

              <div class="form-group">
                <label for="service">Produto:</label>
                <select name="service">
                  <option value="" selected>Selecione...</option>
                  <% services.map(item => {%>
                  <option value="<%= item.label %>"><%= item.label %></option>
                  <% }) %>
                </select>
              </div>
              <div class="form-group">
                <label for="bandwidth">Largura de Banda:</label>
                <select name="bandwidth">
                  <option value="" selected>Selecione...</option>
                  <% bandwidth.map(item => {%>
                  <option value="<%= item.label %>"><%= item.label %></option>
                  <% }) %>
                </select>
              </div>
              <div class="form-group">
                <label for="priceType">Tipo de Preço:</label>
                <input type="radio" name="priceType" value="1" onchange="showDiv('price', this)" checked />&nbsp;Customizado&nbsp;&nbsp;
                <input type="radio" name="priceType" value="2" onchange="showDiv('price', this)" />&nbsp;Tabela de Preços
              </div>
              <div id="price" class="form-group">
                <label for="priceOTC">Instalação:</label>
                <input type="number" name="priceOTC" step="any" placeholder="Valores sem impostos" />
                <label for="priceMRC">Mensalidade:</label>
                <input type="number" name="priceMRC" step="any" placeholder="Valores sem impostos" />
              </div>
            </div>
          </section>

          <div class="botao">
            <button type="submit" class="btn">Gerar Proposta</button>
          </div>
        </form>
      </div>
    </main>

  </body>
</html>

<script>
  function showDiv(divId, element) {
    document.getElementById(divId).style.display = element.value == 1 ? 'block' : 'none';
  }

  // função para mostrar o menu lateral quando a tela for de celular
  function showMenu() {
    var x = document.getElementById("sidebar");
    if (x.style.display === "flex") {
      x.style.display = "none";
    } else {
      x.style.display = "flex";
    }
  }
</script>